form {
    width: 100%;
    background: white;
    padding: 3rem;
}

.search_input {
    position: relative;
}

.search_input_left {
    position: absolute;
    top: 14px;
    left: 18px;
    content: "";
    width: 24px;
    height: 24px;
    background: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/search_magnifier_focus_white.197e0b86.png) no-repeat;
    background-size: 100%;
}

.search_input_text {
    background-color: #fff;
    color: #212832;
    width: 100%;
    padding: 0 52px;
    box-sizing: border-box;
    height: 52px;
    border-radius: 26px;
    font-size: 16px;
    background-color: rgba(238, 240, 244, .12);
    border: 1px solid #d1d1d1;

    &::placeholder {
        color: #b8b8b8;
    }
}
.search_input_right {
    background: url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/search_return_white.0c921c5a.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
    content: "";
    width: 32px;
    height: 32px;
    cursor: pointer;
    outline: none;
    border: none;
}
.search_input_loading {
    right: 26px;
    top: 23px;
}
